<div class="row" id="check-card-form">
  <% if random_card.present? %>
      <div class="container col-md-6">
        <div class="deck-container">
          <div id="avatar">
            <%= image_tag(random_card.image.thumb.url, class: 'img-circle') %>
          </div>
          <div class="panel-heading">
            <h3 class="panel-title"><%= random_card.translated_text %></h3>
          </div>
        <%= simple_form_for :card, { remote: true, url: '/check_card' } do |f| %>
            <%= f.input :original_text, label: t('.question'), input_html: { class: 'form-control' } %>
            <%= f.hidden_field :card_id, value: random_card.id %>
            <%= f.hidden_field :quality, value: 5 %>
            <%= f.button :submit, t('.button') %>
        <% end %>
        </div>
      </div>
  <% end %>
</div>
