<section id="container" class="container-fluid">
  <h1>
    <% if @deck.current? %>
        <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
    <% end %>
    <%= @deck.name %>
  </h1>

  <div class="row">
    <% @deck.cards.each do |card| %>
    <div class="container col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= link_to "#{card.original_text} - #{card.translated_text}", deck_card_path(@deck, card) %>
          </h3>
          <small><%= card.review_date.strftime('%d/%m/%Y') %></small>
        </div>
        <div class="panel-body">
          <%= image_tag card.image.url %>
        </div>
        <div class="panel-footer">
          <%= link_to t('common.edit'), edit_deck_card_path(@deck, card) %> |
          <%= link_to t('common.delete'), [@deck, card], method: :delete, data: { confirm: t('common.confirm') } %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to t('.add_cards'), new_deck_card_path(@deck, @deck.cards.build) %>
</section>


