<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  <footer>
    <% if current_user %>
        <%= link_to 'EN', user_path(current_user, user: { locale: 'en' }), method: :put %> |
        <%= link_to 'RU', user_path(current_user, user: { locale: 'ru' }), method: :put %>
    <% else %>
      <%= link_to 'EN', { lang: 'en' } %> | <%= link_to 'RU', { lang: 'ru' } %>
    <% end %>
  </footer>
  </body>
</html>
